<!-- FILEPATH: /c:/Users/ofer/Desktop/Node-Course/web-server/public/about.html -->


<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
        {{>header}}
      <h1>Weather App</h1>
      <p>This site was created by Yali Gal. It uses data from mapbox.com and darksky.net to get the current weather.</p>
    </div>
    {{>footer}}
  </body>
</html>