<!-- FILEPATH: /help/index.html -->

<!-- 
    This page contains the code for creating a help page.
    It includes a navigation bar, a title, and a list of help topics.
-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>
